#rp-install {
    padding-left: 24px;
    background: url("@modulePrefix/atlassian-connect/add_20.png") no-repeat 0 50%;
}

#rp-started {
    float: right;
}
#rp-install-form {
    float: left;
}

#rp-oauth-consumer {
    clear: both;
}