<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Confluence breadcrumbs, TODO: invent a better way of doing this -->
	<content tag="breadcrumbs">
		<ol id="breadcrumbs">
			<li class="first" ><span><a href="$contextPath/dashboard.action">Dashboard</a></span></li>
			<li><span>$!title</span></li>
		</ol>
	</content>
	<meta name="tab" content="$!title"/>
	<title>$!title</title>
	<meta name="decorator" content="$decorator"></meta>
</head>
<body>
<div id="errorMessage">You do not have the correct permissions to view the page $!title.</div>
</body>
</html>
